<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Waterford Tech Meetup</title>
  <link rel="stylesheet" href="/public/css/styles.css">
  <script src="/public/javascript/jquery-3.1.1.min.js"></script>
  <script src="/public/javascript/draw.js"></script>
</head>

<body>
  <div id="outer">
    <div id="inner">
      <img class="logo" src="/public/images/logo-white.png" alt="logo">
      <h1>Raffle</h1>
      <a href="#" class="draw action-button shadow animate red">Draw</a>
      
      <div class="winner hidden">
        <h1>Winner</h1>
        <a class="profile_url" href="thing"><h2 class="winner_name">???</h2></a>
        <div class="polaroid hidden">
          <img class="winner_photo center" align="middle" width="250" src="">
        </div>
      </div>
    </div>
  </div>
</body>

</html>